:root {
    --rosa: #d8006f;
    --negro: #313232;
    --amarillo: #ffdd01;
}

@font-face {
    font-family: 'Oswald';
    src: url('.../fonts/Oswald.ttf') format('ttf');
}

@font-face {
    font-family: 'Oswald-bold';
    src: url('.../fonts/Oswald-Bold.ttf') format('ttf');
}

body {
    font-family: 'Oswald', sans-serif;
    color: var(--negro)
}


.display {
    display: block;
}

.bg-tag-it {
    background-color: var(--rosa);
}

.bg-tag-it-secundary {
    background-color: var(--amarillo);
}
.primary-color {
    color: var(--rosa);
}
.secundary-color {
    color : var(--amarillo);
}

.third-color {
    color: var(--negro);
}

.btn-accept {
    color: var(--negro);
    font-weight: bold;
    background-color: var(--amarillo);
}

.btn-accept:hover {
    color: var(--amarillo);
    font-weight: bold;
    background-color: var(--negro);
}

.description-yellow {
    color: var(--amarillo);
    font-family: 'Oswald';
    font-size: 2rem;
}

.description-pink {
    color: var(--rosa);
    font-family: 'Oswald';
    font-size: 2rem;
}

.guest-logo {
    width: 12rem;
    height: auto;
}

.principal-image {
    width: 29rem;
    height: auto;
}

.title {
    font-family: 'Oswald-bold';
    color: var(--negro);
    font-size: 3.2rem;
    text-align: center;
    font-weight: bold;
}

.contact-icons {
    font-size: 3.2rem;
    color: #d8006f;
}

.column-section {
    background-color: #d8006f;
    color: white;
    font-family: 'Oswald-bold';
    font-size: 2rem;
    height: auto;
}

.text-description {
    color: var(--negro);
    font-family: 'Oswald';
    font-size: 1.8rem;
}

.text-details {
    color: var(--negro);
    font-family: 'Oswald';
    font-size: 1.5rem;
    text-align: center;
}

.text-numbers {
    font-family: 'Oswald-bold';
    font-weight: bold;
    margin-right: 3px;
    font-size: 3.2rem;
    color: var(--amarillo)
}

.text-discount {
    font-family: 'Oswald-bold';
    font-weight: bold;
    margin-right: 3px;
    font-size: 3.2rem;
    color: var(--rosa)
}

.text-precio {
    font-family: 'Oswald-bold';
        font-weight: bold;
        margin-right: 3px;
        font-size: 4rem;
        color: var(--negro)
}

.text-send-message {
    color: white;
    font-family: 'Oswald';
    font-size: 1.8rem;
}

.btn-send {
    border-radius: 12px;
    background-color: var(--negro);
    font-family: 'Oswald';
    font-size: 1.8rem;
    background-color: var(--amarillo);
    padding: 10px 10px;
}

.btn-send:hover {
    color: var(--amarillo);
    background-color: var(--negro);
}